.mainGalleryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100%;
}

.galleryThreeEven {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vw;
}

.galleryItem {
  flex: 1 1 30%;
  margin: var(--space-2);
  padding: var(--space-2);
  height: 100%;
  border: 5px solid var(--Low-blue);
  border-radius: 25px;
  text-align: center;
}

.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
