:root {
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --Low-blue: #0e2250;
  --Teal: rgb(100, 255, 218);
}
/* The container for the entire page */
.MainSkillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* All h1 will be able to scramble and be 100% neon and glow  */
.MainSkillContainer h1 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--neon-dull);
  filter: drop-shadow(0 0 10px var(--main-glow));
}
/* For the teck stack */
.TechStacksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
/* The container that holder the skills */
.TechStacks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: 25vh;
  padding: var(--space-2);
  border-radius: 100px;
  background-color: var(--Low-blue);
  animation: forwards FadeUpEnterAni 1.5s ease-in-out;
}

/* Used across the skill.jsx to hold tech info */
/* Used in tech stacks container */
.BluePill {
  font-size: 1rem;
  width: 13%;
  height: 4rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: rgba(0, 188, 235, 0.8);
  background-color: rgba(0, 188, 235, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-in-out 0.5s, color ease-in-out 0.5s;
}
/* Smaller version used in featured apps */
.BluePill2 {
  font-size: 0.7rem;
  width: 25%;
  height: 3rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: rgba(0, 188, 235, 0.8);
  background-color: rgba(0, 188, 235, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-out 1s, color ease-out 1s;
}

.BluePill.hovered,
.BluePill2.hovered {
  background-color: rgba(0, 188, 235, 0.8);
  color: var(--Teal);
}

/* Container for the featured apps */
.FeaturedApps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: forwards FadeUpEnterAni 3s ease-in-out;
}
/* Main app container */
.AppF {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 80vw;
  height: 50vh;
  margin-bottom: 15vh;
}
/* The image takes half of AppF */
.AppImage {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.AppImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
}

/* Oppacity overlay for image */
.TransparentFill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 204, 255, 0.25);
  transition: background-color ease-in-out 0.8s;
  border-radius: 15px;
}

.TransparentFill:hover {
  background-color: transparent;
}

/* Takes up 60% of the main container overlaping over app image a small bit */
.AppText {
  position: absolute;
  width: 60%;
  left: 40%;
  height: 100%;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Header text*/
.AppHeader {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  background-color: transparent;
}

.AppHeader h1 {
  display: inline-block;
  font-size: 1.5rem;
}
/* Secondary header */
.AppHeader h3 {
  font-size: 2rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}
/* The paragraph showing some info about the app */
.AppPara {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  border-radius: 15px;
  font-size: 1.5rem;
  color: var(--white-off);
  font-family: "Exo 2", sans-serif;
  font-weight: 350;
  background-color: var(--Low-blue);
  transition: color ease-in-out 0.5s;
}

.AppPara:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* The skill container holds used tech */
.AppSkills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  transform: translateX(6%);
}
/* Mirror info */
.AppF.mirror {
  flex-direction: row-reverse;
}

.AppText.mirror {
  left: 0%;
  text-align: left;
}

.AppSkills.mirror {
  transform: translateX(-10%);
}

.NoFeaturedApps {
  width: 80%;
}

/* Header container for non featured apps */
.NonFeaturedHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}
/* Container for non featured apps */
.FolderContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5.5rem;
  grid-template-rows: auto;
  width: auto;
  min-height: 20vh;
}

.Folder {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20vw;
  height: 20vw;
  border: 2px solid rgb(100, 255, 218);
  padding: var(--space-2);
  border-radius: 15px;
  background-color: var(--Low-blue);
  overflow: hidden;
  cursor: pointer;
  transition: background ease-in-out 0.6s, filter ease-in-out 0.6s;
}

.Folder h1 {
  font-size: 2rem;
  color: var(--Teal);
}

.Folder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: radial-gradient(
    circle,
    rgba(100, 255, 218, 0) 50%,
    rgba(100, 255, 218, 0.1) 100%
  );
  z-index: 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.Folder:hover::before {
  opacity: 1; /* Fully visible on hover */
}

.Folder:hover {
  filter: drop-shadow(0 0 15px rgba(0, 204, 255, 0.4));
}

.FolderSvgContainer {
  width: 30%;
  height: 30%;
  background-image: url("../../assets/Folder.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.Folder p {
  color: var(--white-off);
  font-family: "Exo 2", sans-serif;
}

.Seperator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
  height: 100%;
  border-radius: 50px;
  color: var(--Teal);
  margin: 5vw;
  animation: forwards FadeUpEnterAni 1.5s ease-in-out;
}

.GalleryLink {
  border: none;
  height: 45px;
  width: 45px;
  margin-left: var(--space-2);
  animation: infinite alternate rightLeft 2.5s ease-in-out;
}

.GalleryLink.reverse {
  margin-left: 0;
  margin-right: var(--space-2);
  animation: infinite alternate leftRight 2.5s ease-in-out;
  transform: rotate(180deg);
}

.GallerySvg {
  color: var(--neon-blue);
  width: 40px;
  height: 40px;
}

#Sep1 {
  cursor: pointer;
}

#Sep2 {
  cursor: pointer;
  margin-bottom: 0;
}

.Seperator h1 {
  font-size: 3.3rem;
  margin: var(--space-5);
  color: var(--neon-dull);
  filter: drop-shadow(0 0 10px var(--main-glow));
}

.Seperator hr {
  width: 50vw;
  height: 2px;
  border: none;
  background-color: var(--Teal);
  opacity: 0.5;
}

#lottie-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: -1;
}

.Logocontainer {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-left: 15px;
  margin: 10px;
  padding: var(--space-1);
  border-radius: 50%;
  z-index: 1;
}

.ImgBackLogo1 {
  background-image: url("../../assets/link.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.ImgBackLogo2 {
  background-image: url("../../assets/Github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@keyframes FadeUpEnterAni {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes rightLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .TechStacks {
    width: 100%;
    height: auto;
  }
  .BluePill {
    width: 15%;
    height: 15%;
    font-size: 1.5rem;
  }
  .BluePill2 {
    width: 80%;
  }

  .FolderContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .Folder {
    width: 40vw;
    height: 40vw;
  }
}
