.article-nav-Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 85%;
  background-color: var(--opacity-color-4-5);
  border-radius: 100px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 5vw;
  z-index: 50;
  overflow: hidden;
  /* Glass effect */
  box-shadow: inset 0 0 16px 2px var(--opacity-color-4-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}
.article-nav-Menu h2 {
  color: var(--font-middle);
  font-size: 1.25rem;
  font-weight: 600;
  margin: var(--space-1);
}

.published-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--opacity-color-3-5);
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: var(--space-1);
  margin-top: var(--space-2);
  width: 80%;
  /* Glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-3-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}

.published-time h3 {
  color: var(--font-high);
  font-size: 1.25rem;
  font-weight: 600;
  margin: var(--space-2);
}

.published-time p {
  color: var(--color-1);
  font-family: var(--font-display), sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
}

.article-topic {
  color: var(--color-1);
  width: 80%;
  background-color: var(--opacity-color-3-5);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  /* Glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-3-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}
.article-topic h3 {
  font-weight: 500;
  font-size: 0.75rem;
}

.table-of-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: 0;
  overflow-y: auto;
  margin-bottom: var(--space-4);
  scrollbar-width: none;
}

.table-of-contents::-webkit-scrollbar {
  display: none;
}

.toc-item {
  color: var(--color-1);
  width: 100%;
  background-color: var(--opacity-color-3-5);
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  margin-bottom: var(--space-1);
  letter-spacing: 0.05em;
  transition: background-color 0.6s ease-in-out;
  cursor: pointer;
  /* Glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-3-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}

.toc-item:hover {
  background-color: var(--color-1);
  color: white;
}

.toc-item.active,
.toc-item.medium.active,
.toc-item.small.active {
  background-color: var(--color-1);
  color: white;
}

.toc-item h3 {
  font-size: 0.75rem;
  margin: var(--space-1);
  font-weight: 500;
}
/* These are the smaller widths given to smaller headings levels */
.toc-item.medium {
  width: 85%;
  margin-left: auto;
}

.toc-item.small {
  width: 70%;
  margin-left: auto;
}
