/*  */
/* Highlights */
/*  */
.skill-highlights {
  display: flex;
  width: 90%;
  flex-direction: column;
}
/*  */
/* Gallery container */
.skill-highlights-gal {
  display: flex;
  position: relative;
  width: 100%;
  height: 27.5rem;
  gap: var(--space-1);
  padding-top: var(--space-1);
}

.skill-highlights-gal button {
  position: absolute;
  border: none;
  background-color: var(--color-1);
  width: 4rem;
  height: 4rem;
  z-index: 15;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* Left button */
.skill-highlights-gal button:nth-of-type(1) {
  left: var(--space-1);
}

.skill-highlights-gal button:nth-of-type(1) svg {
  transform: rotate(90deg);
}

/* Right button */
.skill-highlights-gal button:nth-of-type(2) {
  right: var(--space-1);
}
.skill-highlights-gal button:nth-of-type(2) svg {
  transform: rotate(-90deg);
}

.skill-highlights-gal button svg {
  width: 2rem;
  width: 2rem;
  stroke: var(--color-3);
  transform: rotate(90deg);
}

/* image containers */
.skill-highlights-gal-item {
  height: 100%;
  width: 20%;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 25px;
  padding: var(--space-1);
}

.skill-highlights-gal-item-text {
  background-color: var(--color-4);
  padding: var(--space-1);
  z-index: 15;
  width: 80%;
  height: fit-content;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: auto;
}

.skill-highlights-gal-item-text p {
  font-size: 0.85rem;
}

.skill-highlights-gal-item:nth-child(2) {
  width: 60%;
}

.skill-highlights-gal-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
/*  */
/* Skills */
/*  */
.skill-myskills {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: var(--space-1);
}

.skill-myskills-container {
  display: flex;
  height: auto;
  gap: var(--space-1);
}

.skill-myskills-container-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-4);
  border-radius: 25px;
  border-radius: 20px;
  overflow: hidden;
}

.skill-myskills-container-card img {
  width: 100%;
  height: 15rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.skill-myskills-container-card-text {
  display: flex;
  flex-direction: column;
  padding: var(--space-1);
}

.skill-myskills-container-card-text h3 {
  font-size: 2.5rem;
  color: var(--color-1);
  font-weight: 600;
  margin: var(--space-1) 0;
}

.skill-myskills-container-card-text p {
  font-size: 1rem;
  margin: 0;
  color: var(--font-middle);
}
