:root {
  --back-round-grey: rgb(46, 46, 46);
  --neon-blue: rgb(0, 204, 255);
  --neon-dull: rgb(0, 188, 235);
  --Teal: rgba(100, 255, 218);
}

.Container {
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  background: transparent;
  filter: drop-shadow(0 0 20px #004488) drop-shadow(0 0 60px #004488);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: FadeIn 1s forwards ease-in;
}
.Container::before {
  content: "";
  position: absolute;
  inset: -4px;
  border: 1px solid var(--neon-dull);
}

.Container span {
  position: absolute;
  left: 0%;
  bottom: 55px;
  width: 40px;
  height: 1px;
  background-color: var(--neon-dull);
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

.Container.skill span {
  left: 50%;
  transform: translateX(-50%);
}
.Container.contact span {
  left: 100%;
  transform: translateX(-100%);
}

/* Shared styles for all buttons */
.button {
  z-index: 1;
  position: absolute;
  top: 70px;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 2px;
  background-color: var(--neon-dull);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Protest Guerrilla";
  cursor: pointer;
  animation: FadeIn 1s forwards ease-in;
  transition: background-color 0.5s ease-in-out, box-shadow ease-in-out 0.5s;
}

.button:hover {
  background-color: var(--neon-blue);
  box-shadow: 0 0 15px var(--neon-blue);
}

/* Cursor styles */
.Cursor {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgba(100, 255, 218, 0.5);
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: transform 1s ease-in-out, background-color 1s ease-in-out;
}
/* When the slow cursor is not near the mouse */
.Cursor.shrink {
  transform: translate(-50%, -50%) scale(0.8);
}

.Cursor.Change {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: rgba(100, 255, 218, 0.8);
}

.Cursor.Grab {
  transform: translate(-50%, -50%) scale(0.8);
  background-color: rgba(100, 255, 218, 0.8);
  box-shadow: none;
  border: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Specific styles for each button */
#AboutBtn {
  left: 0%;
}

#SkillBtn {
  left: 50%;
  transform: translateX(-50%);
}

#ContactBtn {
  left: 100%;
  transform: translateX(-100%);
}
