@ -1,65 +0,2 @@
:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --Low-blue: #0e2250;
  --Teal: rgb(100, 255, 218);
}

.ContactContainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Contact {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contact h1 {
  color: var(--neon-blue);
  font-size: 7rem;
  font-weight: 700;
  z-index: 2;
}

.Contact button {
  position: relative;
  background: linear-gradient(to top, var(--Teal) 0%, var(--Teal) 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 3px solid var(--Teal);
  background-color: var(--Low-blue);
  color: var(--Teal);
  width: 85%;
  height: 6.5vh;
  font-size: 1.3rem;
  border-radius: 50px;
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out,
    border 0.6s ease-in-out;
  z-index: 10;
  font-family: "Protest Guerrilla";
  cursor: pointer;
}

.Contact button:hover {
  border: #00ccff 3px solid;
  background-size: 100% 100%;
  color: black; /* Change text color for better visibility */
}
#ContactCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

