:root {
  --color-1-article: #171c30;
  --color-2-article: #242f49;
  --color-3-article: #384358;
  --color-4-article: #ffa586;
  --color-5-article: #b51a2b;

  --mouse-glow: rgba(181, 26, 43, 0.5);
}

.card-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-1-article);
}

.card {
  width: 28vw;
  height: 28vh;
  margin: 20px;
  perspective: 1000px;
  background-color: var(--color-2-article);
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--color-3-article);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card h2 {
  font-family: monospace;
  font-size: 2rem;
  margin: var(--space-2);
  font-weight: 500;
  color: var(--color-4-article);
  z-index: 5;
}

.card p {
  font-family: monospace;
  font-size: 1rem;
  color: white;
  margin: var(--space-2);
  z-index: 5;
}
/*  */
/* Card1 */
/*  */
.card1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    var(--mouse-glow),
    transparent 40%
  );

  opacity: var(--glow-opacity, 0);
  filter: blur(50px);
  transition: opacity 0.4s ease-out;
  pointer-events: none;
  z-index: 1;
}

.card1::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(
    315deg,
    var(--color-5-article) 10%,
    transparent 100%
  );
  opacity: 0.1;
  filter: blur(15px);
  pointer-events: none;
}
/*  */
/* Card2 */
/*  */

.card2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.001);
  pointer-events: none;
  z-index: 2;
}
/*  */
/* Card3 */
/*  */

.card3::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(
    160deg,
    var(--color-2-article) 50%,
    transparent 100%
  );
  pointer-events: none;
  z-index: 2;
}
/*  */
/* Card 2 canvas */
.card-canvas {
  position: absolute;
  background-color: transparent !important;
  top: 0;
  left: 0;
  filter: blur(2.5px);
  width: 100%;
  height: 100%;
  border-radius: 0px;
  pointer-events: auto;
  z-index: 1;
}
/* Card 3 canvas */
.card-canvas2 {
  position: absolute;
  background-color: transparent !important;

  top: 0;
  left: 0;
  width: 110% !important;
  height: 110% !important;
  border-radius: 0px;
  pointer-events: auto;
  z-index: 1;
}

@media (max-width: 1500px) {
  .card {
    width: 40vw;
    height: 30vh;
  }
}

@media (max-width: 1000px) {
  .card {
    width: 65vw;
    height: 45vh;
  }
}

@media (max-width: 800px) {
  .card {
    width: 80vw;
    height: 45vh;
  }
}

@media (max-width: 600px) {
  .card h2 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 0.875rem;
  }
}
