/*  */
/* Opening container */
/*  */
.opening {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--light-1);
  transform: translateY(0%);
  z-index: 150;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.opening svg {
  opacity: 0;
  width: 25vh;
  height: 25vh;
}

.opening svg path {
  stroke-width: 1.5px;
  stroke: var(--dark-1);
}
