/*  */
/* Main process container */
/*  */
.process {
  display: flex;
  flex-direction: column;
  background-color: var(--light-1);
  gap: var(--space-32);
  padding: var(--space-24);
}
/*  */
/* Main process items container */
/*  */
.process-con {
  display: flex;
  flex-direction: column;
}
/*  */
/* Main process items container */
.process-con-item {
  display: flex;
  gap: var(--space-24);
}

/* Left side text */
.process-con-item-text {
  display: flex;
  flex-direction: column;
  width: calc(var(--column-width) * 4 + var(--space-24) * 3);
}

.process-con-item-text p {
  font-size: var(--typo-size-14);
  color: var(--dark-2);
  font-weight: var(--typo-weight-regular);
}

.process-con-item-text h2 {
  font-size: var(--typo-size-48);
  color: var(--dark-1);
  margin-top: auto;
  font-weight: var(--typo-weight-semi-bold);
}

/* Right side image */
.process-con-item-image {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 35rem;
}

.process-con-item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  filter: contrast(1.1) saturate(0.8) brightness(0.9);
}
/*  */
/* Main process seperator */
.process-con-line {
  height: 1px;
  width: 100%;
  background-color: var(--light-3);
  margin: var(--space-48) 0;
}
/*  */
/* Desktop */
/*  */
@media (max-width: 1500px) {
  .process-con-item-text {
    display: flex;
    flex-direction: column;
    width: calc(var(--column-width) * 5 + var(--space-24) * 4);
  }
}

@media (max-width: 1300px) {
  .process-con-item-text h2 {
    font-size: var(--typo-size-40);
  }
}
/*  */
/* Mobile */
/*  */
@media (max-width: 1050px) {
  .process-con-item {
    flex-direction: column-reverse;
  }
  .process-con-item-image {
    width: 100%;
    min-height: 30rem;
  }
  .process-con-item-text {
    width: 100%;
    flex-direction: column-reverse;
    gap: var(--space-32);
  }
}
