/*  */
/* Main section container */
/*  */
.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: var(--space-24);
  padding-top: var(--space-32);
  gap: var(--space-64);
  align-items: center;
}
/*  */
/* Intro info  */
/*  */
.intro-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
  z-index: 10;
}

.intro-info h3 {
  font-family: var(--font-body);
  color: var(--light-3);
  font-size: var(--typo-size-12);
  font-weight: var(--typo-weight-regular);
}

.intro-info svg {
  height: var(--typo-size-12);
  width: var(--typo-size-12);
}

.intro-info svg circle {
  stroke: var(--light-3);
  stroke-width: 1.25px;
}

.intro-info svg path {
  stroke: var(--light-3);
  stroke-width: 1.25px;
}

/*  */
/* Image heading */
/*  */
.intro h2 {
  color: var(--light-1);
  font-size: var(--typo-size-128);
  font-weight: var(--typo-weight-medium);
  text-align: center;
  line-height: 1;
  z-index: 10;
}
/*  */
/* Image rune */
/*  */
.intro-rune {
  position: relative;
}

.intro-rune svg {
  width: 30rem;
  height: 30rem;
  z-index: 10;
}

.intro-rune svg path {
  stroke: var(--light-1);
  stroke-width: 2px;
}

/*  */
/* Image and image overlay */
/*  */
.intro img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: saturate(0);
}

.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
