/*  */
/* Most recent */
/*  */
.scriptorium-most-recent {
  width: 90%;
  display: flex;
  flex-direction: column;
  height: auto;
}

.scriptorium-most-recent h2 {
  font-size: 2.5rem;
  color: var(--color-1);
  margin: 0;
  font-weight: 600;
  text-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.075),
    0 0 6px rgba(0, 0, 0, 0.075);
  margin-bottom: var(--space-2);
  margin-left: var(--space-3);
}

.most-recent-card-container {
  display: flex;
  flex-direction: row;
  gap: var(--space-3);
  width: 100%;
  height: auto;
}

.most-recent-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 100%;
  width: 100%;
  background-color: var(--color-4);
}

.most-recent-card-img {
  width: 100%;
  height: 60%;
}

.most-recent-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50px;
}
/* Container for text and icons */
.most-recent-card-info {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: var(--space-1);
}

.most-recent-card-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-3);

  color: var(--color-1);
}
/* Container for the icons and time */
.most-recent-card-info-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.most-recent-card-info-card span {
  border-radius: 100px;
  height: 100%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  padding: var(--space-2) var(--space-5);
  background-color: var(--color-3);
}

.most-recent-card-info-card span h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: var(--font-middle);
}

.most-recent-card-icon-container {
  width: 33.33%;
  display: flex;
  align-items: center;
}

.most-recent-card-icon-container svg {
  height: 1.35rem;
  aspect-ratio: 1 / 1;
  fill: var(--font-middle);
}

.most-recent-card-icon-container p {
  font-size: 1.25rem;
  margin: 0;
  color: var(--font-middle);
}

/*  */
/*  Main article containers */
/* */
.article-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  height: auto;
}

.article-container h2 {
  font-size: 2.5rem;
  color: var(--color-1);
  margin: 0;
  font-weight: 600;
  text-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.075),
    0 0 6px rgba(0, 0, 0, 0.075);
  margin-bottom: var(--space-2);
  margin-left: var(--space-3);
}

.article-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--space-3);
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}

/* Filer Container */
.article-filter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-3);
  border-radius: 35px;
}

/* Article cards */

.script-article {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 37.5rem;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}
.full-link-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.script-article:hover {
  transform: scale(1.025);
}

.script-article::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: inherit;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: inherit;
  background-color: var(--color-4);
}

.script-article-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
  border-radius: 50px;
  z-index: 1;
}

.script-article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50px;
}

.script-article-info {
  width: 100%;
  height: 55%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: var(--space-1);
  z-index: 1;
}

.script-article-info h2 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: var(--space-1);
  margin-bottom: var(--space-1);
  color: var(--color-1);
  overflow: hidden;
  /* Line ... break */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.script-article-info p {
  font-size: 1rem;
  font-family: var(--font-body), monospace;
  color: var(--font-high);
  margin: 0;
  /* Line ... break */
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.script-article-tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--space-1);
  margin-top: auto;
  height: auto;
}

.script-article-info span {
  flex: 1;
  height: 3.5rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: var(--color-4);
  background-color: var(--color-2);
  font-family: var(--font-display), sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color ease-in-out 0.5s,
    color ease-in-out 0.5s;
  position: relative;
  z-index: 1;
}

.script-article-info span h4 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1500px) {
  .article-card-container {
    grid-gap: var(--space-3);
  }
}

@media (max-width: 1000px) {
  .article-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .article-card-container {
    width: 90%;
  }
}
/* Phone stuff */

@media (max-width: 800px) {
  .script-article {
    height: 30rem;
  }

  /* Font decrease by 20% */
  .script-article-info h2 {
    font-size: 1.4rem;
  }

  .script-article-info p {
    font-size: 0.8rem;
  }

  .script-article-info span h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .article-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .script-article {
    height: 37.5rem;
  }

  .script-article-info h2 {
    font-size: 1.75rem;
  }

  .script-article-info p {
    font-size: 1rem;
  }

  .script-article-info span h4 {
    font-size: 1rem;
  }
}
