/*  */
/*  Main article containers */
/* */
.article-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  height: auto;
}

.article-container h2 {
  font-size: 2.5rem;
  color: var(--color-1);
  margin: 0;
  font-weight: 600;
  text-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.075),
    0 0 6px rgba(0, 0, 0, 0.075);
  margin-bottom: var(--space-2);
  margin-left: var(--space-3);
}

.article-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--space-3);
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}

/* Filer Container */
.article-filter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-3);
  border-radius: 35px;
}
/*  */
/* Article cards */
/*  */
.script-article {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 40rem;
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
  background-color: var(--color-4);
}

.script-article.reverse {
  flex-direction: column-reverse;
}

.script-article.reverse .script-article-img {
  align-items: flex-end;
  align-content: flex-end;
}
/* Top image container */
.script-article-img {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 50px;
  padding: var(--space-2);
  gap: var(--space-1);
  z-index: 1;
}

.script-article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;

  top: 0;
  left: 0;
  z-index: 5;
}
.script-article-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.script-article-img span {
  background-color: var(--color-2);
  padding: var(--space-1) var(--space-2);
  height: auto;
  border-radius: 100px;
  z-index: 15;
}

.script-article-img h4 {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-3);
  margin: 0;
}
/*  */
/* Bottom content container */
.script-article-info {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: var(--space-2);
  z-index: 1;
}
/* Text */
.script-article-info h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-1);
  margin: 0;
  margin-bottom: var(--space-1);
}

.script-article-info h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: var(--font-high);
  margin-bottom: var(--space-2);
}

.script-article-info p {
  font-size: 0.85rem;
  font-family: var(--font-body), monospace;
  color: var(--font-high);
  margin: 0;
  /* Line ... break */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.script-article-tags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  margin-top: auto;
}

.script-article-tags-icon {
  display: flex;
  align-items: center;
  width: 50%;
  gap: var(--space-1);
}

.script-article-tags-icon h4 {
  font-size: 1.25rem;
  margin: 0;
  color: var(--color-2);
}

.script-article-tags-icon svg {
  height: 1.25rem;
  aspect-ratio: 1 / 1;
}

.script-article-tags-icon svg path {
  stroke: var(--color-2);
  fill: var(--color-2);
}

.script-article-tags button {
  width: 50%;
  height: 100%;
  padding: var(--space-2);
  border: none;
  background-color: var(--color-2);
  border-radius: 25px;
}

.script-article-tags button h4 {
  margin: 0;
  font-size: 1rem;
  color: var(--color-4);
}

@media (max-width: 1500px) {
  .article-card-container {
    grid-gap: var(--space-3);
  }
}

@media (max-width: 1000px) {
  .article-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .article-card-container {
    width: 90%;
  }
}
/* Phone stuff */

@media (max-width: 800px) {
  .script-article {
    height: 30rem;
  }

  /* Font decrease by 20% */
  .script-article-info h2 {
    font-size: 1.4rem;
  }

  .script-article-info p {
    font-size: 0.8rem;
  }

  .script-article-info span h4 {
    font-size: 0.8rem;
  }
}

@media (max-width: 500px) {
  .article-card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .script-article {
    height: 37.5rem;
  }

  .script-article-info h2 {
    font-size: 1.75rem;
  }

  .script-article-info p {
    font-size: 1rem;
  }

  .script-article-info span h4 {
    font-size: 1rem;
  }
}
