/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/animation.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@keyframes fadeUpEnter0-30 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-30px);
  }
}

@keyframes fadeUpEnter75-0 {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes opacityReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rightLeft0-30 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes leftRight0--30 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrowOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/backgrounds/background.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
#backgroundId {
  position: fixed;
  background: rgb(15 23 42 / 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/components/nav/navigate.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
:root {
  --back-round-grey: rgb(46, 46, 46);
  --neon-blue: rgb(0, 204, 255);
  --neon-dull: rgb(0, 188, 235);
  --Teal: rgba(100, 255, 218);
}

.Container {
  position: relative;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px #004488, 0 0 60px #004488;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: FadeIn 1s forwards ease-in;
  z-index: 10;
}
.Container::before {
  content: "";
  position: absolute;
  inset: -4px;
  border: 1px solid var(--neon-dull);
}
/* Height is found in the jsx file */
.Container span {
  position: absolute;
  top: 15px;
  width: 40px;
  height: 1px;
  background-color: var(--neon-dull);
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

/* Shared styles for all buttons */
.button {
  position: relative;
  top: 60px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 10px;
  background-color: var(--neon-dull);
  color: whitesmoke;
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  align-items: center;
  font-family: "Protest Guerrilla", monospace;
  cursor: pointer;
  animation: FadeIn 1s forwards ease-in;
  transition: background-color 0.3s ease-in-out, box-shadow ease-in-out 0.3s;
}

.button:hover {
  background-color: var(--neon-blue);
  box-shadow: 0 0 15px var(--neon-blue);
}

.Cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}

.CursorInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid rgba(100, 255, 218, 0.5);
  background: transparent;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.9s;
  will-change: transform, background-color;
}

.CursorInner.shrink {
  transform: scale(0.8);
}

.CursorInner.Change {
  transform: scale(0.5);
  background-color: rgba(100, 255, 218, 0.8);
}

.CursorInner.Grab {
  transform: scale(0.8);
  background-color: rgba(100, 255, 218, 0.8);
  box-shadow: none;
  border: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Specific styles for each button */

/* @media (max-width: 1000px) {
  .button {
    font-size: 10rem;
  }
} */

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./src/site.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
body {
  font-family: "Protest Guerrilla", monospace;
  font-size: 16px;
}

html {
  overflow-y: scroll;
}

:root {
  /* Main colors */
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --circle-radius: 32.5vh;
  --Teal: rgb(100, 255, 218);
  --Low-blue: #0e2250;
  --Dark-blue: #0b1a3d;
  --main-glow: rgba(0, 204, 255, 0.65);
  /* Whites */
  --white: #f0f0f0;
  --white-off: #c5c5c5;
  --white-light: #969696;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

