:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --Low-blue: #0e2250;
  --Dark-blue: #0b1a3d;
  --super-Dark-blue: #081430;

  --Teal: rgb(100, 255, 218);
}

/*  */
/* Main showcase css */
/*  */
.mainScriptoriumContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 15vh;
}
.subject-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: auto;
  background-color: var(--Low-blue);
  border-radius: 40px;
  z-index: 1;
}

.subjectTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 40%;
  margin-top: 20px;
  border-radius: 40px;
}

.subjectTextContainer h1 {
  color: var(--neon-blue);
  filter: drop-shadow(0 0 5px var(--neon-dull));
  font-size: 2.5rem;
  font-weight: 700;
  z-index: 2;
  margin: 0;
  margin-left: 6%;
}

.subjectTextContainer h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  z-index: 2;
  margin: 0;
  margin-left: 6%;
}
.subjectDescriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  width: 90%;
  height: 40%;
  background-color: rgba(0, 188, 235, 0.2);
  border-radius: 40px;
  margin-bottom: 20px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
}

/*  */
/* Text container css */
/*  */
.articleTextContainer {
  width: auto;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out,
    padding 0.8s ease-in-out, color 0.8s ease-in-out,
    background-color 0.8s ease-in-out, border-radius 0.8s ease-in-out;
}

.canvasScript {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 40px;
}

.articleTextContainer.active {
  display: block;
  opacity: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 3000px;
  padding: 10px;
  border-radius: 40px;
  background-color: var(--Dark-blue);
  color: white;
}

/* .componentContainer {
  width: 100%;
  height: 25vh;
  margin-bottom: 20px;
} */

pre,
code {
  background: var(--super-Dark-blue);
  color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  padding: 5px;
}

p {
  white-space: normal;
  word-break: break-word;
  margin: 0.5em 0;
  display: inline-block;
}

code {
  padding: 0.2em 0.4em;
  border-radius: 4px;
}
