.Cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 100;
}

.CursorInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background: var(--color-3);
  transition:
    transform 0.75s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.9s;
  will-change: transform, background-color;
}

.CursorInner.shrink {
  transform: scale(0.5);
}

.CursorInner.Change {
  transform: scale(0.5);
}

.CursorInner.Grab {
  transform: scale(1.5);
  background-color: var(--color-2);
  box-shadow: none;
  border: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Specific styles for each button */

@media (max-width: 1000px) {
  .Container span {
    width: 40px;
  }

  .button {
    top: 60px;
    width: 65px;
    height: 65px;
  }
}
