.Container {
  position: relative;
  top: 0;
  width: calc(100% - 2 * var(--space-1));
  height: 70px;
  box-shadow: 0 0 20px var(--opacity-color-1-6),
    0 0 60px var(--opacity-color-2-5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  margin: var(--space-1);
  opacity: 0;
  background-color: var(--opacity-color-4-5);

  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);

  z-index: 10;
}
.Container::before {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 25px;
  border: 1px solid var(--color-1);
}
/* Height is found in the jsx file */
.Container span {
  position: absolute;
  top: 10px;
  width: 45px;
  height: 1px;
  background-color: var(--color-1);
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

/* Shared styles for all buttons */
.button {
  position: relative;
  top: 65px;
  width: 70px;
  height: 70px;
  margin: 0;
  border: none;
  border-radius: 15px;
  background-color: var(--color-1);
  color: var(--font-high);
  display: flex;
  font-size: 0.85rem;
  justify-content: center;
  align-items: center;
  font-family: var(--font-display), monospace;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  animation: FadeIn 1s forwards ease-in;
  transition: background-color 0.4s ease-in-out, box-shadow ease-in-out 0.4s;

  z-index: 15;
}

.button a {
  position: absolute;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  box-shadow: 0 0 15px var(--color-1);
}

.Cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  pointer-events: none;
  z-index: 100;
  opacity: 0;
}

.CursorInner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid var(--opacity-color-2-5);
  background: transparent;
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.9s;
  will-change: transform, background-color;
}

.CursorInner.shrink {
  transform: scale(0.8);
}

.CursorInner.Change {
  transform: scale(0.5);
}

.CursorInner.Grab {
  transform: scale(0.8);
  background-color: var(--color-2);
  box-shadow: none;
  border: none;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Specific styles for each button */

@media (max-width: 1000px) {
  .Container span {
    width: 40px;
  }

  .button {
    top: 60px;
    width: 65px;
    height: 65px;
  }
}
