:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: rgb(0, 204, 255);
  --circle-radius: 32.5vh;
}

.PlayGround {
  position: absolute;
  z-index: 0;
  cursor: default;
  width: 100vw;
}

.Shadow {
  position: absolute;
  z-index: 1;
  cursor: default;
  width: 100vw;
}

/* Container for the entire page */
.MainAboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 300vh;
  width: auto;
  flex-direction: column;
}
/* Container for the glowing text element */
.IAmContainer {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  bottom: 110vh;
}

h3 {
  color: white;
  padding: 0 100px;
  font-size: 5rem;
  font-weight: 600;
  position: relative;
}

h3 span::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  color: var(--neon-blue);

  filter: drop-shadow(0 0 6px) drop-shadow(0 0 25px);
}

h3 span {
  display: block;
}
/* Text container */

.MoveDownBtn {
  position: relative;
  width: 7vh;
  z-index: 1;
  height: 7vh;
  background-image: url("../Images/DownArr.svg");
  background-size: contain;
  border: none;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  bottom: 80vh;
  border-radius: 50%;
  cursor: pointer;
  animation: scaleInOut 2s infinite;
  transition: box-shadow 0.5s ease-in-out;
}

.MoveDownBtn:hover {
  box-shadow: 0 0 80px 40px rgba(255, 255, 255, 1);
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  h3 {
    font-size: 2.5rem;
    padding: 0 20px;
  }
}
