:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: rgb(0, 204, 255);
  --circle-radius: 32.5vh;
}
/* Container for the entire page */
.MainAboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 300vh;
  width: auto;
  flex-direction: column;
}
/* Container for the glowing text element */
.IAmContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  bottom: 110vh;
}

h3 {
  color: white;
  padding: 0 100px;
  font-size: 5rem;
  font-weight: 600;
  position: relative;
}

h3 span::before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  color: var(--neon-blue);

  filter: drop-shadow(0 0 6px) drop-shadow(0 0 25px);
}

h3 span {
  display: block;
}
/* Text container */

.AboutLegend,
.AboutPersonal,
.AboutStart {
  position: relative;
  padding: 30px;
  /* The radius needs to be exported keep to vh*/
  width: 65vh;
  height: 65vh;
  border-radius: 50%;
  backdrop-filter: blur(25px);
  border: 7.5px var(--neon-blue) solid;
  box-shadow: 0 0 45px rgba(0, 204, 255, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.3rem;
  background-clip: padding-box;
  background: rgba(0, 0, 0, 0.5);
  cursor: grab;
}

.AboutLegend {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 30vw;
  top: 140vh;
}

.AboutPersonal {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 190vh;
  left: 70vw;
}

.AboutStart {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 30vw;
  top: 240vh;
}

.MoveDownBtn {
  position: relative;
  width: 7vh;
  height: 7vh;
  background-image: url("../Images/DownArr.svg");
  background-size: contain;
  border: none;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  bottom: 80vh;
  border-radius: 50%;
  cursor: pointer;
  animation: scaleInOut 2s infinite;
  transition: box-shadow 0.5s ease-in-out;
}

.MoveDownBtn:hover {
  box-shadow: 0 0 80px 40px rgba(255, 255, 255, 1);
}

@keyframes scaleInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .IAmContainer {
    top: 5vh;
  }

  h3 {
    font-size: 2.5rem;
    padding: 0 20px;
  }

  .MoveDownBtn {
    top: 20vh;
  }

  .AboutContainer {
    width: 95vw;
    margin-top: 30vh;
    height: auto;
    padding: 20px;
  }

  .AboutContainer h1 {
    font-size: 1.5rem;
    width: 100%;
  }

  .AboutContainer p {
    padding: 0 20px;
    font-size: 1rem;
  }

  .AboutLegend,
  .AboutPersonal,
  .AboutStart {
    width: 50vh;
    height: 50vh;
    font-size: 1rem;
  }
}
