/*  */
/* Main process stuff */
/*  */
.skill-process {
  display: flex;
  width: 90%;
  flex-direction: column;
}
/*  */
/* Main content */

.skill-process-main {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: var(--space-1);
  gap: var(--space-1);
}

.skill-process-main-card {
  background-color: var(--color-4);
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 25px;
  transition:
    color 0.5s var(--power-1-out),
    background-color 0.5s var(--power-1-out);
}

.skill-process-main-card h4 {
  font-size: 2.5rem;
  color: var(--color-1);
  font-weight: 600;
  margin: 0;
}

.skill-process-main-card h3 {
  font-size: 2.5rem;
  color: var(--color-1);
  font-weight: 600;
  margin: 0;
  margin-bottom: 7.5rem;
}

.skill-process-main-card p {
  font-size: 1rem;
  color: var(--font-middle);
  margin-top: auto;
}

/*  */
/* Last card */

.skill-process-main-card.active {
  background-color: var(--color-1);
}

.skill-process-main-card.active h4,
.skill-process-main-card.active h3 {
  color: var(--color-3);
}

.skill-process-main-card.active p {
  color: var(--color-4);
}

/*  */
/* Main skill stuff */
/*  */
.skill-focus {
  display: flex;
  flex-direction: column;
  width: 90%;
}
/*  */
/* Card container */
.skill-focus-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: var(--space-1);
  margin-bottom: var(--space-1);
}
/*  */
/* Card styles */
.skill-focus-container-card {
  background-color: var(--color-4);
  padding: var(--space-3);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  border-radius: 25px;
  transition:
    color 0.5s var(--power-1-out),
    background-color 0.5s var(--power-1-out);
}

.skill-focus-container-card.active {
  background-color: var(--color-1);
}

.skill-focus-container-card.active h3 {
  color: var(--color-4);
}

.skill-focus-container-card.active p {
  color: var(--color-3);
}

.skill-focus-container-card.active .skill-focus-container-card-text-icon {
  background-color: var(--color-2);
}

.skill-focus-container-card.active
  .skill-focus-container-card-text-icon
  svg
  path {
  stroke: var(--color-1);
}

/* Top text */
.skill-focus-container-card h3 {
  font-size: 2.5rem;
  color: var(--color-1);
  width: 70%;
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-7);
}

/* Bottom para and icon */
.skill-focus-container-card-text {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.skill-focus-container-card-text-icon {
  height: 7.5rem;
  aspect-ratio: 1/1;
  background-color: var(--color-1);
  padding: var(--space-1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--space-7);
}

.skill-focus-container-card-text-icon svg {
  width: 80%;
  height: 80%;
}

.skill-focus-container-card-text-icon svg path {
  stroke: var(--color-4);
}

.skill-focus-container-card-text p {
  font-size: 1rem;
  color: var(--font-middle);
  margin: 0;
}
