body {
  font-family: "Protest Guerrilla", monospace;
  font-size: 16px;
}

html {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: "Protest Guerrilla", sans-serif;
}

:root {
  /* Main colors */
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --neon-link: rgb(104, 200, 224);
  /* Darker neon colors */
  --neon-dark-one: hsl(192, 100%, 43%);
  --circle-radius: 32.5vh;
  --Teal: rgb(100, 255, 218);
  --Low-blue: #0e2250;
  --Dark-blue: #0b1a3d;
  /* New */
  --color-1: rgb(0, 188, 235);
  --color-2: #1d4ed8;
  --color-3: #0e2250;
  --color-4: #0b1a3d;
  --color-5: hsl(222, 47.4%, 11%);
  /* Graph lines */
  --graph-line: hsl(222, 30%, 16%);
  /* Opacity of original color */
  --opacity-color-4: rgba(11, 26, 61, 0.5);
  --opacity-color-3: rgb(14, 34, 80, 0.5);
  --opacity-color-1: rgba(0, 204, 255, 0.65);
  --opacity-color-1-light: rgba(0, 204, 255, 0.3);
  --opacity-color-2: rgba(29, 78, 216, 0.5);
  /* Cursor color */
  --cursor-color: rgba(29, 78, 216, 0.2);

  /* Whites */
  --white: #f0f0f0;
  --white-off: #c5c5c5;
  --white-light: #969696;

  --vh: 1vh;
  --vw: 1vw;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 5rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
