body {
  font-family: var(--font-display), monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  overflow-y: scroll;
  font-size: clamp(1rem, 0.9rem + 0.7vw, 1.25rem);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: var(--font-display), sans-serif;
}

:root {
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 5rem;
}
