body {
  font-family: "Protest Guerrilla", monospace;
  font-size: 16px;
}

/* html {
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: "Protest Guerrilla", sans-serif;
} */

:root {
  /* Main colors */
  --neon-blue: #00ccff;
  --neon-dull: rgb(0, 188, 235);
  --neon-link: rgb(104, 200, 224);
  /* Darker neon colors */
  --neon-dark-one: hsl(192, 100%, 43%);
  --circle-radius: 32.5vh;
  --Teal: rgb(100, 255, 218);
  --Low-blue: #0e2250;
  --Dark-blue: #0b1a3d;
  --main-glow: rgba(0, 204, 255, 0.65);
  /* Whites */
  --white: #f0f0f0;
  --white-off: #c5c5c5;
  --white-light: #969696;

  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1500px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1300px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 7px;
  }
}
