body {
  font-family: var(--font-body), monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  overflow-y: scroll;
  font-size: clamp(1rem, 0.9rem + 0.7vw, 1.25rem);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  font-family: var(--font-display), sans-serif;
}

:root {
  --space-0: 0.25rem;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --space-4: 2rem;
  --space-5: 2.5rem;
  --space-6: 3rem;
  --space-7: 4rem;
  --space-8: 5rem;
}

/* Notes */
/* P tags should be set between either 1rem, 1.25rem, 1.5rem or 1.1rem IF used as readable text. H tags should use increments of 0.5rem otherwise no restrictions. As for scaling font at smaller size's around 800px should be decrease
by 20% as needed for all present fonts in file
To be clear

1rem -> is for dense copy of less important text
1.1rem -> is for dense copy of important text like a blog article
1.25rem -> is for regular for things like descriptions on cards this should be the default for most text
1.5rem -> is rarely used but if so mainly in a hero setting most of the case go for h tags


*/
