#backgroundId {
  position: fixed;
  background: var(--color-5);
  width: 100%;
  height: 120%;

  top: 0;
  left: 0;
  z-index: -5;
}

#cursorBackgroundId {
  position: fixed;
  width: 100%;
  height: 120%;

  top: 0;
  left: 0;
  z-index: -4;
}
