.section-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  z-index: 10;
}

.section-info.light h3 {
  color: var(--light-3);
}

.section-info.dark h3 {
  color: var(--dark-3);
}

.section-info h3 {
  font-family: var(--font-body);
  font-size: var(--typo-size-12);
  font-weight: var(--typo-weight-regular);
}

.section-info svg {
  height: var(--typo-size-12);
  width: var(--typo-size-12);
}

.section-info.light svg path {
  stroke: var(--light-3);
}

.section-info.dark svg path {
  stroke: var(--dark-3);
}

.section-info svg path {
  stroke-width: var(--small-stroke-width);
}
