.main-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.gallery-container {
  position: relative;
  display: flex;
  width: 85vw;
  overflow: scroll;
  margin-left: -20px;
  animation: forwards opacityReveal 2s ease-in-out;
}

.gallery-column {
  padding-left: 20px;
}

.gallery-description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--opacity-color-3-5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 65%;
  height: auto;
  font-size: 1.25rem;
  padding: var(--space-3);
  margin: var(--space-5);
  margin-top: var(--space-2);
  border-radius: 100px;
  color: var(--font-middle);
  font-family: "Exo 2", sans-serif;
  animation: forwards fadeUpEnter75-0 1.5s ease-in-out;
}

#gallery-link {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.gallery-container img,
.gallery-container video {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin-bottom: 20px;
}

.gallery-image-wrapper {
  position: relative;
  width: 100%;
  min-height: 200px; /* or use aspect-ratio: 16/9; for consistent aspect */
  margin-bottom: 20px;
}

.gallery-container iframe {
  width: 100%;
  height: 33%;
  object-fit: contain;
  border-radius: 8px;
  display: block;
  margin-bottom: 20px;
  border: none;
}

@media (max-width: 800px) {
  .gallery-description {
    width: 90%;
    /* 20% font size reduction */
    font-size: 1rem;
  }
}
