.content-separator {
  width: 100%;
  height: auto;
  padding: var(--space-1) var(--space-1);
  align-items: center;
  border-radius: 30px;
  display: flex;
  margin: 0;
}

.content-separator h2 {
  font-weight: 600;
  color: var(--color-2);
  font-size: 4.5rem;
  text-shadow:
    0px 4px 5px rgba(0, 0, 0, 0.075),
    0 0 6px rgba(0, 0, 0, 0.075);
  width: 80%;
  margin: 0;
}

.content-separator p {
  color: var(--font-middle);
  font-size: 0rem;
  width: 60%;
}
