/* The container for the entire page */
.main-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 7.5rem 0;
  gap: var(--space-7);
}
/*  */
/* Top header container start */
/*  */
.skill-header {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  gap: var(--space-2);
}
/* Intro section */
/*  */
.skill-header-intro {
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: flex-end;
}
/* Leftside text */
.skill-header-intro-text {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: first baseline;
  gap: auto;
}

.skill-header-intro-text h1 {
  color: var(--color-2);
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-1);
}

.skill-header-intro-text h2 {
  color: var(--font-middle);
  font-size: 1.5rem;
  font-weight: 500;
  transform: translateX(15px);
  margin: 0;
}
/* Rightside button */
.skill-header-intro button {
  border: none;
  border-radius: 20px;
  background-color: var(--color-1);
  width: fit-content;
  height: fit-content;
  padding: var(--space-1) var(--space-3);
  margin-left: auto;
}
.skill-header-intro h3 {
  color: var(--color-3);
  font-weight: 400;
}
/* Image area */
/*  */

.skill-header img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  display: block;
  border-radius: 25px;
}

/* Stats */
/*  */
.skill-header-stats {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: row;
  gap: var(--space-2);
}

.skill-header-stats-item {
  width: 100%;
  height: auto;
  background-color: var(--color-4);
  border-radius: 25px;
  padding: var(--space-2) var(--space-3);
}
.skill-header-stats-item:nth-child(3) {
  background-color: var(--color-1);
}

.skill-header-stats-item:nth-child(3) h3 {
  color: var(--color-3);
}

.skill-header-stats-item:nth-child(3) h4 {
  color: var(--color-5);
}

.skill-header-stats-item h3 {
  color: var(--color-1);
  font-weight: 600;
  margin: 0;
  margin-bottom: var(--space-1);
  font-size: 2rem;
}

.skill-header-stats-item h4 {
  font-weight: 500;
  color: var(--font-middle);
  margin: 0;
  font-size: 0.85rem;
}

/*  */
/* Past work container start */
/*  */

.skill-past {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.content-seperator {
  width: 100%;
  height: auto;
  padding: var(--space-1) var(--space-1);
  background-color: var(--color-4);
  align-items: center;
  border-radius: 30px;
  display: flex;
}

.content-seperator h2 {
  font-weight: 600;
  color: var(--color-2);
  font-size: 3.5rem;
  width: 80%;
  margin: 0;
}

.content-seperator p {
  color: var(--font-middle);
  font-size: 0.85rem;
  width: 60%;
}
