/* The container for the entire page */
.main-skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* The container that holder the skills */
.tech-stacks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: auto;
  padding: var(--space-3);
  border-radius: 100px;
  animation: fadeUpEnter75-0 0.9s forwards ease-in-out;
}

/* Pseudo-element for blur effect on the parent */
.tech-stacks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: inherit;
  background-color: var(--opacity-color-3-5);
  /* For glass effect double inset due to size*/
  box-shadow: inset 0 0 16px 2px var(--opacity-color-3-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}
/* Child of tech stacks */
.blue-pill {
  width: 13%;
  height: 3.5rem;
  border-radius: 100px;
  margin: 0.4rem;
  color: var(--opacity-color-1-8);
  background-color: var(--opacity-color-1-3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-out 0.3s, color ease-out 0.3s;
  position: relative;
  z-index: 1;
  /* Glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-1-2);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}
.blue-pill h4 {
  font-size: 1.25rem;
  font-weight: 500;
}
.blue-pill.hovered {
  background-color: var(--opacity-color-1-6);
  color: var(--opacity-color-1-5);
}

/* Container for the folders */
.folder-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  grid-template-rows: auto;
  width: 80%;
  min-height: 20vh;
}
/* Folder cards */
.folder {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-2);
  padding: var(--space-2);
  border-radius: 50px;
  background-color: var(--opacity-color-4-5);
  overflow: hidden;
  cursor: pointer;
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  /* Box shadow is twice as large as usual because of the increased element size */
  box-shadow: inset 0 0 16px 2px var(--opacity-color-4-5);

  -webkit-backdrop-filter: brightness(1) blur(2px);
  transition: background ease-in-out 0.6s, filter ease-in-out 0.6s;
}

.folder h6 {
  font-size: 2rem;
  font-weight: 600;
  font-family: var(--font-display), sans-serif;
  color: var(--color-2);
  margin: var(--space-1);
}
.folder p {
  color: var(--font-middle);
  font-size: 1rem;
  font-family: "Exo 2", sans-serif;
}

.folder a {
  width: 100%;
  height: 100%;
  position: absolute;
}

.folder:hover::before {
  opacity: 1; /* Fully visible on hover */
}

.folder:hover {
  filter: drop-shadow(0 0 15px var(--opacity-color-2-5));
}

.folder-svg-container {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-svg-container svg {
  color: var(--color-1);
  width: 100%;
  height: 100%;
}
/* Separator used in gallery and skills */
.separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
  height: 100%;
  border-radius: 50px;
  color: var(--color-2);
  margin: var(--space-7);
  margin-top: 5vw;
  animation: forwards fadeUpEnter75-0 1s ease-in-out;
}

#gallery-link {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.gallery-link {
  border: none;
  height: 45px;
  width: 45px;
  margin-left: var(--space-2);
  animation: infinite alternate rightLeft0-30 2.5s ease-in-out;
}

.gallery-link.reverse {
  margin-left: 0;
  margin-right: var(--space-2);
  animation: infinite alternate leftRight0--30 2.5s ease-in-out;
  transform: rotate(180deg);
}

.gallery-link svg {
  width: 100%;
  height: 100%;
}

#Sep1 {
  animation: fadeUpEnter75-0 0.7s forwards ease-in-out;
}

#Sep2 {
  cursor: pointer;
  animation: fadeUpEnter75-0 1.1s forwards ease-in-out;
}

#galSep {
  cursor: pointer;
  margin-bottom: 0;
}

.separator h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: var(--space-3);
  color: var(--color-1);
  filter: drop-shadow(0 0 10px var(--opacity-color-1-6));
}

.separator h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.separator hr {
  width: 50vw;
  height: 2px;
  border: none;
  background-color: var(--color-2);
  opacity: 0.5;
}

@media (max-width: 1500px) {
  .folder-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1250px) {
  .blue-pill {
    width: 17%;
    height: 3.5rem;
  }
}

@media (max-width: 1000px) {
  /* Sizing changes */
  .separator {
    width: 90%;
    margin-top: 12.5vh;
  }
  .tech-stacks {
    width: 90vw;
  }

  .blue-pill {
    width: 20%;
    height: 3.5rem;
  }

  .gallery-link {
    width: 35px;
    height: 35px;
  }

  .folder-container {
    width: 95%;
  }
}

@media (max-width: 800px) {
  /* Sizing stuff */
  .folder-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blue-pill {
    width: 25%;
    height: 4rem;
  }
  .tech-stacks {
    padding: var(--space-2);
  }
  /* Decrease by 20% not folder copy though*/
  .blue-pill h4 {
    font-size: 1rem;
  }

  .folder h6 {
    font-size: 1.6rem;
  }

  .separator h2 {
    font-size: 2.4rem;
  }

  .separator h3 {
    font-size: 1.2rem;
  }
}
