.blue-pill-2 {
  position: relative;
  width: 25%;
  height: 3.5rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color ease-out 1s,
    color ease-out 1s;
  background-color: var(--color-4);
  /* For glass effect */
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}

.blue-pill-2::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
  border-radius: 100px;
}

.blue-pill-2 h5 {
  font-size: 1rem;
  font-weight: 500;
}

#end-featured {
  margin-bottom: 0;
}

.blue-pill-2.hovered {
  background-color: var(--opacity-color-1-6);
  color: var(--color-2);
}

.transparent-fill:hover {
  background-color: transparent;
}

.app-text {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  background-color: transparent;
}

.app-header h4 {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0;
  font-weight: 600;
  color: var(--color-1);
}

.app-header h5 {
  margin: 0;
  margin-top: var(--space-2);
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--font-middle);
}

.app-para {
  position: relative;
  display: flex;
  align-items: center;
  width: 125%;
  right: 25%;
  height: 33%;
  padding: var(--space-2);
  border-radius: 15px;
  text-align: left;
  font-size: 1.25rem;
  color: var(--font-middle);
  font-family: var(--font-body), sans-serif;
  background-color: var(--color-3);
  /* For glass effect double inset due to size */
  transition: color ease-in-out 0.5s;
}

.app-para-mirror {
  left: 0%;
}

.app-para:hover {
  color: var(--font-high);
}

.app-skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  padding: var(--space-2);
}

.app-f.mirror {
  flex-direction: row-reverse;
}

.app-text.mirror {
  left: 0%;
  text-align: left;
}

.logo-container {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin: 10px;
  padding: var(--space-1);
  z-index: 10;
}

.logo-container a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 15;
}

.logo-container svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-2);
  cursor: pointer;
}
.logo-github svg path {
  fill: var(--color-2);
}

/* Main app container */
.app-f {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 80lvw;
  height: 50lvh;
  margin-bottom: 15lvh;
}
/* The image takes half of AppF */
.app-image {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.app-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
}

/* Oppacity overlay for image */
.transparent-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color ease-in-out 0.8s;
  border-radius: 15px;
}

@media (max-width: 1300px) {
  .app-para {
    font-size: 1.125rem;
  }
}

@media (max-width: 1000px) {
  /* Sizing adjustments */
  .app-image {
    position: absolute;
    justify-content: flex-end;
    width: 100%;
  }
  .app-text {
    width: 100%;
  }

  .app-header h5 {
    color: whitesmoke;
  }

  .app-para {
    width: 100%;
    right: 0%;
    height: 35%;
  }

  .app-f {
    width: 90lvw;
    height: 75lvh;
  }
  /* Shrink the skills section */
  .app-skills {
    justify-content: flex-end;
    margin-left: auto;
    width: 75%;
    height: 40%;
  }

  .app-header {
    height: 25%;
  }

  .app-skills > * {
    flex-basis: 40%;
  }

  .app-skills.mirror {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
  }

  .logo-container {
    width: 5rem;
    height: 5rem;
  }

  .app-header h5 {
    margin-top: var(--space-3);
  }

  .app-image.mirror {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .app-image {
    flex-direction: column;
    align-items: flex-start;
  }

  .transparent-fill {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .app-image.mirror {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .blue-pill-2 {
    font-size: 2rem;
    height: 3.5rem;
  }

  .app-skills {
    width: 85%;
  }

  .app-header h5 {
    margin-top: var(--space-1);
  }
}

@media (max-height: 750px) {
  .app-f {
    width: 90lvw;
    height: 100lvh;
  }

  .logo-container {
    width: 4rem;
    height: 4rem;
  }
}
