.blue-pill-2 {
  position: relative;
  font-size: 1.1rem;
  width: 25%;
  height: 4rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-out 1s, color ease-out 1s;
  background-color: var(--opacity-color-4-5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#end-featured {
  margin-bottom: 0;
}

.blue-pill-2.hovered {
  background-color: var(--opacity-color-1-6);
  color: var(--color-2);
}

.transparent-fill:hover {
  background-color: transparent;
}

.app-text {
  position: relative;
  width: 50%;
  height: 100%;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  background-color: transparent;
}

.app-header h4 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-1);
  margin: var(--space-1) 0;
  filter: drop-shadow(0 0 10px var(--opacity-color-1-6));
}

.app-header h5 {
  font-size: 2.3rem;
  margin: var(--space-3) 0;
  margin-bottom: auto;
  font-weight: 600;
  color: var(--font-middle);
}

.app-para {
  position: relative;
  display: flex;
  align-items: center;
  width: 125%;
  right: 25%;
  height: 33%;
  padding: var(--space-2);
  border-radius: 15px;
  text-align: left;
  font-size: 1.5rem;
  color: var(--font-middle);
  font-family: "Exo 2", sans-serif;
  font-weight: 350;
  background-color: var(--opacity-color-3-5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: color ease-in-out 0.5s;
}

.app-para-mirror {
  left: 0%;
}

.app-para:hover {
  color: var(--font-high);
}

.app-skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  padding: var(--space-2);
}

.app-f.mirror {
  flex-direction: row-reverse;
}

.app-text.mirror {
  left: 0%;
  text-align: left;
}

.logo-container {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-left: 15px;
  margin: 10px;
  padding: var(--space-1);
  border-radius: 50%;
  z-index: 10;
}

.logo-container a {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 15; /* Keeps it above SVG */
}

.logo-container svg {
  width: 100%;
  height: 100%;
  stroke: var(--color-1);
  cursor: pointer;
}
.logo-github svg path {
  fill: var(--color-1);
}

/* Main app container */
.app-f {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 80lvw;
  height: 50lvh;
  margin-bottom: 15lvh;
}
/* The image takes half of AppF */
.app-image {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.app-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
}

/* Oppacity overlay for image */
.transparent-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color ease-in-out 0.8s;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  /* Sizing adjustments */
  .app-image {
    position: absolute;
    justify-content: flex-end;
    width: 100%;
  }
  .app-text {
    width: 100%;
  }

  .app-para {
    width: 100%;
    right: 0%;
  }

  .app-f {
    width: 90lvw;
    height: 65lvh;
  }
  /* Shrink the skills section */
  .app-skills {
    justify-content: flex-end;
    margin-left: auto;
    width: 75%;
  }

  .app-skills.mirror {
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
  }

  .logo-container {
    width: 12.5rem;
    height: 12.5rem;
  }

  .app-image.mirror {
    justify-content: flex-start;
  }

  /* Fonts */
  .app-header h1 {
    font-size: 2.5rem;
  }
  .app-header h4 {
    font-size: 3.5rem;
    margin-top: var(--space-8);
  }
  .app-header h5 {
    font-size: 4.5rem;
  }
  .app-para {
    font-size: 2.5rem;
  }
  /* Sizing and font */
  .blue-pill-2 {
    font-size: 2rem;
    height: 5rem;
  }
}

@media (max-width: 800px) {
  .logo-container {
    width: 10rem;
    height: 10rem;
  }

  .app-image {
    flex-direction: column;
    align-items: flex-start;
  }

  .app-image.mirror {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .blue-pill-2 {
    font-size: 2rem;
    height: 6rem;
  }

  .app-skills {
    width: 85%;
  }
}

@media (max-width: 600px) {
}
