.contact-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.contact {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact h1 {
  color: var(--font-high);
  font-size: 6.5rem;
  margin-bottom: 0;
  font-weight: 700;
  z-index: 5;
}

.contact p {
  font-size: 1rem;
  z-index: 5;
  margin-top: 0;
  font-weight: 500;

  margin-bottom: var(--space-5);
}

.contact button {
  position: relative;
  overflow: hidden;

  background-color: var(--color-3);
  color: var(--font-high);
  width: 35%;
  border: 2px solid var(--color-1);
  height: 6.5vh;
  font-size: 1.25rem;
  border-radius: 50px;
  z-index: 10;
  font-family: var(--font-display);
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.contact button:hover {
  background-color: var(--color-2);
}

#contact-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media (max-width: 1500px) {
  .contact button {
    width: 45%;
    height: 7vh;
  }
}

@media (max-width: 800px) {
  .contact button {
    width: 90%;
    height: 8vh;
  }
  .contact {
    width: 90%;
  }
  /* Font decrerase by 20% */
  .contact h1 {
    font-size: 4.55rem;
  }
  .contact button {
    font-size: 1rem;
  }
}
