.contact-container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.contact {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.contact h1 {
  color: var(--font-high);
  font-size: 6.5rem;
  margin-bottom: var(--space-5);
  font-weight: 700;
  z-index: 5;
}

.contact button {
  position: relative;
  background: linear-gradient(to top, var(--color-1) 0%, var(--color-1) 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  background-position: bottom;
  border: none;
  background-color: var(--color-2);
  color: var(--font-high);
  width: 35%;
  border: 2px solid var(--color-1);
  height: 6.5vh;
  font-size: 1.25rem;
  border-radius: 50px;
  transition: background-size 0.6s ease-in-out, color 0.6s ease-in-out,
    border 0.6s ease-in-out;
  z-index: 10;
  font-family: var(--font-display);
  cursor: pointer;
}

.contact button:hover {
  background-size: 100% 100%;
  color: black; /* Change text color for better visibility */
}
#contact-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

@media (max-width: 1500px) {
  .contact button {
    width: 45%;
    height: 7vh;
  }
}

@media (max-width: 800px) {
  .contact button {
    width: 90%;
    height: 8vh;
  }
  .contact {
    width: 90%;
  }
  .contact h1 {
    width: 90%;
  }
  /* Font decrerase by 20% */
  .contact h1 {
    font-size: 5.2rem;
  }
  .contact button {
    font-size: 1rem;
  }
}
