.blue-pill-2 {
  position: relative;
  font-size: 1.1rem;
  width: 25%;
  height: 3rem;
  border-radius: 100px;
  margin: var(--space-1);
  color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-out 1s, color ease-out 1s;
  background-color: var(--opacity-color-4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#end-featured {
  margin-bottom: 0;
}

.blue-pill-2.hovered {
  background-color: var(--opacity-color-1);
  color: var(--Teal);
}

.transparent-fill:hover {
  background-color: transparent;
}

.app-text {
  position: absolute;
  width: 60%;
  left: 40%;
  height: 100%;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-header {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  background-color: transparent;
}

.app-header h4 {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-1);
  margin: var(--space-1) 0;
  filter: drop-shadow(0 0 10px var(--opacity-color-1));
}

.app-header h5 {
  font-size: 2.3rem;
  margin: var(--space-3) 0;
  margin-bottom: auto;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

.app-para {
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  border-radius: 15px;
  font-size: 1.5rem;
  color: var(--white-off);
  font-family: "Exo 2", sans-serif;
  font-weight: 350;
  background-color: var(--opacity-color-3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: color ease-in-out 0.5s;
}

.app-para:hover {
  color: var(--white);
}

.app-skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  padding: var(--space-2);
  transform: translateX(6%);
}

.app-f.mirror {
  flex-direction: row-reverse;
}

.app-text.mirror {
  left: 0%;
  text-align: left;
}

.app-skills.mirror {
  transform: translateX(-10%);
}

.logo-container {
  position: relative;
  width: 6rem;
  height: 6rem;
  margin-left: 15px;
  margin: 10px;
  padding: var(--space-1);
  border-radius: 50%;
  z-index: 1;
}

.img-back-logo1 {
  background-image: url("/link.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.img-back-logo2 {
  background-image: url("/Github.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/* Main app container */
.app-f {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 80vw;
  height: 50vh;
  margin-bottom: 15vh;
}
/* The image takes half of AppF */
.app-image {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  width: 50%;
  height: 100%;
  border-radius: 15px;
}

.app-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  transition: transform ease-in-out 0.5s;
}

/* Oppacity overlay for image */
.transparent-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 26, 61, 0.15);
  transition: background-color ease-in-out 0.8s;
  border-radius: 15px;
}

@media (max-width: 1000px) {
  .app-header h1 {
    font-size: 2.5rem;
  }
  .app-header h4 {
    font-size: 2.5rem;
  }
  .app-header h5 {
    font-size: 3.5rem;
  }
  .app-para {
    font-size: 1.7rem;
  }
  .blue-pill2 {
    width: 80%;
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .app-header h4 {
    font-size: 2rem;
  }
  .app-header h5 {
    font-size: 3rem;
  }
}
