:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: rgb(0, 204, 255);
}

.IAmContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

h3 {
  color: white;
  padding: 0 100px;
  font-size: 5rem;
  font-weight: 600;
  position: relative;
}

h3 span {
  position: relative;
  color: rgba(255, 255, 255, 0.1);
}
/* When the specfic animation appear and is hidden */
h3 span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: var(--neon-blue);

  filter: drop-shadow(0 0 6px) drop-shadow(0 0 25px);
}

.AboutContainer {
  top: 150vh;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--neon-blue);
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2.5px;
  height: 85vh;
  width: 85vw;
  backdrop-filter: blur(20px);
}

.AboutContainer p {
  color: white;
  padding: 0 100px;
  font-size: 1.5rem;
  font-weight: 600;
}

.AboutContainer h1 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  width: max-content;
}

.AboutContainer h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, var(--neon-blue), silver);
  z-index: -1;
}
