:root {
  --back-round-grey: rgb(46, 46, 46);
  --neon-blue: rgb(0, 204, 255);
}

#SkillHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  color: white;
}

.SkillContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  margin: 100px;
  border: 2.5px solid var(--neon-blue);
}

.Project1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  padding: 100px;
  margin: 100px;
  border: 2.5px solid var(--neon-blue);
}
