.hero {
  display: flex;
  height: 100vh;
  gap: var(--space-24);
  padding: var(--space-24);
  /* The nav had a top and bottom pading of 32 a internal height of 24 then the page top has a padding of 24 */
  padding-top: calc(var(--space-32) + var(--typo-size-24) + var(--space-24));
}
/*  */
/* Left side image */
/*  */
.hero-image {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  transform: scale(1);
  transform-origin: center;
  transition: transform var(--motion-medium-2) var(--power-2-out);
  filter: contrast(1.1) saturate(0.8) brightness(0.9);
}

.hero-image:hover img {
  transform: scale(1.1);
}
/*  */
/* Middle text section */
/*  */
.hero-text {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  padding-left: var(--space-24);
}
/*  */
/* Main heading */
.hero-text h1 {
  font-size: var(--typo-size-64);
  font-weight: var(--typo-weight-semi-bold);
  line-height: 1.05;
  color: var(--light-1);
}
/*  */
/* Link container */
.hero-text-links {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.hero-text-links a {
  font-family: var(--font-body);
  color: var(--light-3);
  font-size: var(--typo-size-14);
  font-weight: var(--typo-weight-regular);
  line-height: 1;
  text-decoration: none;
  margin-bottom: var(--space-8);
}

.hero-text-links a:nth-last-child(2) {
  margin-bottom: 0;
}

.hero-text-links h3 {
  font-family: var(--font-body);
  color: var(--light-3);
  font-size: var(--typo-size-14);
  font-weight: var(--typo-weight-regular);
  margin-top: var(--space-32);
}

/*  */
/* Right form section */
/*  */
.hero-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  flex: 1;
}

.hero-con h2 {
  color: var(--light-1);
  font-size: var(--typo-size-32);
  font-weight: var(--typo-weight-medium);
  margin-bottom: var(--space-12);
}
/*  */
/* Main form container */
.hero-con-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-12);
}

/* Form row */
.hero-con-form-row {
  display: flex;
  gap: var(--space-16);
}

/* Form items */
.hero-con-form input,
.hero-con-form textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--dark-3);
  padding: var(--space-16) 0;
  width: 100%;

  font-family: var(--font-body);
  font-size: var(--typo-size-14);
  font-weight: var(--typo-weight-regular);
  color: var(--light-1);
}

.hero-con-form input::placeholder,
.hero-con-form textarea::placeholder {
  color: var(--light-3);
  font-weight: var(--typo-weight-regular);
}

.hero-con-form input:focus,
.hero-con-form textarea:focus {
  outline: none;
  border-bottom-color: var(--light-1);
}

.hero-con-form textarea {
  min-height: var(--space-128);
}

/*  */
/* Desktop */
/*  */
@media (max-width: 1500px) {
  .hero-text h1 {
    font-size: var(--typo-size-48);
  }
}
/*  */
/* Mobile */
/*  */
@media (max-width: 1050px) {
  .hero {
    flex-direction: column;
    height: auto;
    gap: var(--space-64);
    padding-top: var(--space-128);
  }
  .hero-image {
    order: 3;
    height: 150vh;
    flex: none;
  }

  .hero-text {
    padding-left: 0;
  }
  .hero-text h1 {
    margin-bottom: var(--space-16);
  }
}

@media (max-width: 800px) {
  .hero-text h1 {
    font-size: var(--typo-size-36);
  }
  .hero-con h2 {
    font-size: var(--typo-size-24);
  }
}
