/*  */
/* Intro section */
/*  */
.contact-intro {
  display: flex;
  margin: var(--space-40) 0;
  margin-bottom: var(--space-128);
}
/*  */
/* Left side text and email */
.contact-intro-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-intro-left h2 {
  font-size: calc(var(--typo-size-96) * 2);
  font-weight: var(--typo-weight-medium);
  color: var(--color-1);
  line-height: 0.85;
  margin: 0;
}

.contact-intro-left h2:nth-last-of-type(1) {
  margin-left: calc(var(--space-104) * 2);
}

.contact-intro-left-email {
  width: auto;
  height: auto;
  margin: 0 auto;
  margin-top: var(--space-40);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.contact-intro-left-email::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-2);
  transition:
    height var(--motion-small-2) var(--power-2-out),
    background-color var(--motion-small-2) var(--power-2-out);
  z-index: -1;
}

.contact-intro-left-email:hover::after {
  height: 100%;
}

.contact-intro-left-email h3 {
  font-size: var(--typo-size-24);
  margin: 0;
  margin-bottom: var(--space-4);
  font-weight: var(--typo-weight-regular);
  color: var(--color-1);
}

/*  */
/* Right side text */
.contact-intro-right {
  display: flex;
  width: 40%;
  flex-direction: column;
}

.contact-intro-right h3 {
  font-size: var(--typo-size-32);
  margin-top: calc(var(--typo-size-96) / 2);
  margin-bottom: var(--space-16);
  margin-left: var(--space-16);
  font-weight: var(--typo-weight-semi-bold);
  color: var(--color-2);
}

.contact-intro-right-text {
  padding: var(--space-16);
  display: flex;
  border-radius: var(--border-radius-small);
  background-color: var(--color-4);
}

.contact-intro-right-text p {
  font-size: var(--typo-size-16);
  margin: 0;
  color: var(--font-middle);
}

/*  */
/* Header section mobile changes */
/*  */
@media (max-width: 1700px) {
  .contact-intro-left h2 {
    font-size: var(--typo-size-128);
  }

  .contact-intro-right h3 {
    margin-top: calc(var(--typo-size-128) / 2);
  }
}

@media (max-width: 1300px) {
  .contact-intro {
    flex-direction: column;
    gap: var(--space-32);
  }
  .contact-intro-left {
    width: 100%;
  }
  .contact-intro-right {
    width: 100%;
  }
  .contact-intro-right h3 {
    margin-top: 0;
  }
}

@media (max-width: 900px) {
  .contact-intro-left h2 {
    font-size: var(--typo-size-96);
  }
}

@media (max-width: 650px) {
  .contact-intro-left h2 {
    font-size: var(--typo-size-64);
  }

  .contact-intro-left h2:nth-last-of-type(1) {
    margin-left: var(--space-96);
  }

  .contact-intro-left-email h3 {
    font-size: var(--typo-size-16);
  }

  .contact-intro-right h3 {
    font-size: var(--typo-size-24);
  }
}
