:root {
  --back-round-grey: rgb(30, 30, 30);
  --neon-blue: #00ccff;
  --Low-blue: #0e2250;
}

.MainSkillContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* All h1 will be able to scramble and be 100% neon and glow  */
.MainSkillContainer h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--neon-blue);
  filter: drop-shadow(0 0 5px var(--neon-blue));
  margin-bottom: 1rem;
}

.TechStacksContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

.TechStacks {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85vw;
  height: 20vh;
  padding: 15px;
  margin-top: 5%;
  border-radius: 100px;
  background-color: var(--Low-blue);
}

.BluePill {
  font-size: 1rem;
  font-weight: 700;
  width: 13%;
  height: 4rem;
  border-radius: 100px;
  margin: 10px;
  color: var(--neon-blue);
  background-color: rgba(0, 204, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BluePill2 {
  font-size: 0.7rem;
  font-weight: 700;
  width: 25%;
  height: 3rem;
  border-radius: 100px;
  margin: 10px;
  color: var(--neon-blue);
  background-color: rgba(0, 204, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  margin-top: 8%;
  right: 10%;
}

.Separator h1 {
  margin: 15px;
}

.Separator hr {
  margin: 15px;
  width: 50%;
  color: var(--neon-blue);
  background-color: var(--neon-blue);
}

.FeaturedApps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
/* Main app container */
.AppF {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  width: 75vw;
  height: 50vh;
  /* Temp indicator */
}
/* The image takes half of Appf */
.AppImage {
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--neon-blue);
}
/* Takes up 60% of the main container overlaping over app image a small bit */
.AppText {
  position: absolute;
  width: 60%;
  left: 40%;
  height: 100%;
  text-align: right;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppHeader {
  width: 100%;
  height: 33%;
  padding: 15px;
  background-color: transparent;
}

.AppHeader h1 {
  font-size: 1.5rem;
}

.AppHeader h3 {
  font-size: 2rem;
  color: white;
}

.AppPara {
  width: 100%;
  height: 33%;
  padding: 15px;
  border-radius: 15px;
  padding: 20px;
  font-size: 1.5rem;

  background-color: var(--Low-blue);
}

.AppSkills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 33%;
  padding: 15px;
  left: 10%;
}
