.footer-container {
  background-color: var(--color-4);
  z-index: 10;
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--space-4);
  gap: var(--space-4);
}

.footer-content-container {
  background-color: var(--color-3);
  height: 100%;
  flex: 1;
  display: grid;
  padding: 0;
  gap: var(--space-3);
  grid-template-columns: repeat(2, 1fr);
}

.blue-pill {
  font-size: 1.3rem;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  margin: 0;
  color: rgba(0, 188, 235, 0.8);
  background-color: var(--opacity-color-1-3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-out 0.3s, color ease-out 0.3s;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: relative;
  z-index: 1;
}
