/*  */
/* Ani var's */
/*  */
:root {
  --footer-line-length: 0%;
}

/*  */
/* Main overhead container */
/*  */
.footer {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--space-32));
  background-color: var(--color-4);
  border-radius: var(--border-radius-small);
  padding: var(--space-24);
  gap: var(--space-24);
  margin: var(--space-16);
}
/*  */
/* Intro heading */
/*  */
.footer-heading {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: var(--space-16);
  padding-bottom: var(--space-32);
}
/*  */
/* Text */
.footer-heading h4 {
  font-size: var(--typo-size-12);
  font-weight: var(--typo-weight-regular);
  color: var(--color-1);
  font-family: var(--font-body);
}

.footer-heading h3 {
  font-size: var(--typo-size-96);
  font-weight: var(--typo-weight-medium);
  color: var(--color-1);
  line-height: 0.9;
}
/*  */
/* Border */
.footer-heading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: var(--footer-line-length);
  height: 1px;
  background: var(--color-1);
  z-index: 15;
}
/*  */
/* Links  */
/* Container */
.footer-links {
  display: flex;
  justify-content: space-between;
}
/*  */
/* Link item | container for text and buttons */
.footer-links-item {
  display: flex;
  flex-direction: column;
}
/* Text  */
.footer-links-item h4 {
  font-size: var(--typo-size-16);
  font-weight: var(--typo-weight-medium);
  color: var(--color-1);
  margin-bottom: var(--space-8);
}

.footer-links-item a {
  font-size: var(--typo-size-12);
  font-weight: var(--typo-weight-regular);
  color: var(--font-middle);
  line-height: 1.2;

  margin-bottom: var(--space-4);
  text-decoration: none;
}

.footer-links-item a:nth-last-child(1) {
  margin-bottom: 0;
}
/* Regular text */
.footer-links-item h5 {
  font-size: var(--typo-size-12);
  font-weight: var(--typo-weight-regular);
  color: var(--font-middle);
  margin-bottom: var(--space-4);
  font-family: var(--font-body);
}
/* Linked regular text */
.footer-links-item-theme {
  cursor: pointer;
}

@media (max-width: 800px) {
  .footer-heading h3 {
    font-size: var(--typo-size-64);
  }

  .footer-links-item h4 {
    font-size: var(--typo-size-14);
  }

  .footer-links-item a {
    font-size: var(--typo-size-10);
  }

  .footer-links-item h5 {
    font-size: var(--typo-size-10);
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .footer-links-item {
    flex: 0 0 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
  }
}
