:root {
  /* Backgrounds */
  --summer-theme-color-5: #001a26;
  --winter-theme-color-5: #0f1729;
  --spring-theme-color-5: #081c15;
  --autumn-theme-color-5: #160c06;
  /* Main colors */
  --spring-theme-color-1: #00d66b;
  --winter-theme-color-1: #00abd6;
  --summer-theme-color-1: #e87a00;
  --autumn-theme-color-1: #ed6d12;
}
/*  */
/* Main footer css */
/*  */
.footer-container {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container-for-corners {
  width: 100%;
  height: auto;
  display: flex;
}
/* For top and bottom sections */
.footer-top-section {
  z-index: 10;
  width: 100%;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--space-3);
  gap: var(--space-5);
  z-index: 5;
  background-color: var(--opacity-color-3-5);
  /* For glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-3-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}
.footer-bottom-section {
  width: 100%;
  height: 5vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--opacity-color-4-5);
  /* For glass effect */
  box-shadow: inset 0 0 8px 1px var(--opacity-color-4-5);
  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);
}

.footer-bottom-section h4 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: var(--font-low);
}

/* Square of the corner shape */
.corner-square {
  position: relative;
  width: 7.5vw;
  height: 7.5vw;
  z-index: 1;
  pointer-events: none;
  z-index: 10;
  mask-image: radial-gradient(circle at 100% 0%, transparent 69%, black 71%);
  -webkit-mask-image: radial-gradient(
    circle at 100% 0%,
    transparent 69%,
    black 71%
  );
  background-color: var(--opacity-color-3-5);

  backdrop-filter: brightness(1) blur(2px) url(#displacementFilter);
  -webkit-backdrop-filter: brightness(1) blur(2px);

  /* For glass effect */
}
/* Settings for each corner square */
.corner-square:nth-child(2) {
  margin-left: auto;
  transform: rotate(270deg);
}
/* Main footer children css */
/* Containers for footer content */
/*  */

.footer-section {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer-section h4 {
  font-size: 2rem;
  font-weight: 600;
  margin: var(--space-1);
  margin-right: auto;
  text-align: center;
  color: var(--color-1);
}

.footer-content-container {
  height: 100%;
  flex: 1;
  display: grid;
  padding: 0;
  position: relative;
  gap: var(--space-1);
  grid-template-columns: repeat(2, 1fr);
}

/* Children's css */
/* For the two pill containers / content */
/*  */
.footer-blue-pill {
  flex: 1;
  border: none;
  height: auto;
  border-radius: 100px;
  margin: 0;
  color: var(--color-1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: background-color 0.75s ease, color 0.75s ease;
  cursor: pointer;
  background-color: var(--opacity-color-1-2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.footer-blue-pill h5 {
  color: var(--font-middle);
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  z-index: 10;
}

.footer-blue-pill a {
  position: absolute;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.footer-blue-pill h5 {
  margin: 0 auto;
}
.footer-blue-pill svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 auto;
  color: var(--color-1);
  stroke: var(--color-1);
}

.footer-blue-pill svg path {
  color: var(--color-1);
}
/* Hover inversion */
.footer-blue-pill:hover {
  background-color: var(--color-1);
}
.footer-blue-pill:hover h5 {
  color: var(--font-high);
}
.footer-blue-pill:hover svg {
  color: var(--font-high);
}
.footer-blue-pill:hover svg path {
  color: var(--font-high);
}
/* Children's css */
/* For the theme container / content */

/* Autumn */
/*  */
.footer-blue-pill-autumn {
  background-color: var(--autumn-theme-color-5);
}
.footer-blue-pill-autumn h5 {
  color: var(--autumn-theme-color-1);
}

.footer-blue-pill-autumn:hover {
  background-color: var(--autumn-theme-color-1);
}
.footer-blue-pill-autumn:hover h5 {
  color: var(--autumn-theme-color-5);
}

/* Spring */
.footer-blue-pill-spring {
  background-color: var(--spring-theme-color-5);
}
.footer-blue-pill-spring h5 {
  color: var(--spring-theme-color-1);
}

.footer-blue-pill-spring:hover {
  background-color: var(--spring-theme-color-1);
}
.footer-blue-pill-spring:hover h5 {
  color: var(--spring-theme-color-5);
}
/* Summer */
.footer-blue-pill-summer {
  background-color: var(--summer-theme-color-5);
}
.footer-blue-pill-summer h5 {
  color: var(--summer-theme-color-1);
}
.footer-blue-pill-summer:hover {
  background-color: var(--summer-theme-color-1);
}
.footer-blue-pill-summer:hover h5 {
  color: var(--summer-theme-color-5);
}
/* Winter */
.footer-blue-pill-winter {
  background-color: var(--winter-theme-color-5);
}
.footer-blue-pill-winter h5 {
  color: var(--winter-theme-color-1);
}

.footer-blue-pill-winter:hover {
  background-color: var(--winter-theme-color-1);
}
.footer-blue-pill-winter:hover h5 {
  color: var(--winter-theme-color-5);
}

@media (max-width: 1000px) {
  /* Turn into a column */
  .footer-top-section {
    flex-direction: column;
    height: auto;
    padding: var(--space-4);
  }
  .footer-bottom-section {
    height: auto;
    padding: var(--space-2);
  }
  .footer-content-container {
    grid-template-columns: 1fr;
    gap: var(--space-1);
  }
  .footer-blue-pill {
    padding: var(--space-2);
  }

  .corner-square {
    width: 15vw;
    height: 15vw;
  }
  .footer-section {
    width: 100%;
    height: auto;
  }
}
