.play-ground {
  position: absolute;
  cursor: default;
  width: 100%;
}

.shadow {
  position: absolute;
  cursor: default;
  width: 100%;
  z-index: -1;
}

/* Container for the entire page */
.main-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: calc(var(--static-vh) * 100 * 3);
  width: auto;
  flex-direction: column;
}
/* Container for the glowing text element */
.i-am-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  bottom: calc(var(--static-vh) * 100 * 1.05);
  z-index: 1;
}

/* In the nav folder the css file consider the container appearing time */

.text-1 {
  font-size: 2.3rem;
  color: var(--neon-dull);
  margin: 0px 0px var(--space-3) 0;
  font-weight: 500;
  filter: drop-shadow(0 0 2px var(--neon-blue));
  animation: fadeUpEnter0-30 0.7s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.text-2 {
  font-size: 5.8rem;
  color: var(--white);
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
  animation: fadeUpEnter0-30 0.9s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.text-3 {
  font-size: 5.8rem;
  color: var(--white-off);
  font-weight: 500;
  margin: 0;
  opacity: 0.9;
  line-height: 0.9;
  animation: fadeUpEnter0-30 1.1s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.text-4 {
  font-size: 1.5rem;
  width: 75%;
  color: var(--white-light);
  font-family: "Exo 2", sans-serif;
  margin: var(--space-2) 0px 0px;
  animation: fadeUpEnter0-30 1.3s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* Down indicator */
.down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.down-container path {
  animation: arrowOpacity 2s infinite;
  -webkit-animation: arrowOpacity 2s infinite;
  transform-origin: center;
  transform: scale(0.8);
}

#Vec1 {
  transform-origin: center;
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  stroke: #0099ff;
}
#Vec2 {
  transform-origin: center;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  stroke: #0099ff;
}

#Vec3 {
  transform-origin: center;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  stroke: #0099ff;
}

@media (max-width: 1000px) {
  .i-am-container {
    bottom: calc(var(--static-vh) * 100 * 0.2);
    width: 75%;
  }
}

.mobile-about {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(var(--static-vh) * 100 * 1.7);
  top: 15svh;
}

.mobile-about h4 {
  font-size: 3.5rem;
  color: white;
}

.mobile-about.hidden {
  display: none;
}

.journey,
.beyond,
.more {
  height: calc(var(--static-vh) * 100 * 0.8);

  position: relative;
  width: calc(var(--static-vw) * 100 * 0.8);

  border-radius: 50%;
  padding: var(--space-4);
  margin: var(--space-4);
  background-color: rgba(14, 34, 80, 0.95);
  border: 5px rgba(5, 120, 250, 1) solid;
  box-shadow: 0 0 20px 10px rgba(5, 120, 250, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  color: white;
}
