.play-ground {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.shadow {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Container for the entire page */
.main-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  flex-direction: column;
}

.about-hero-section {
  position: relative;
  width: 100%;
  height: 100lvh;
  overflow: hidden;
}

/* Container for the glowing text element */
.i-am-container {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  z-index: 1;
}

/* In the nav folder the css file consider the container appearing time */

.i-am-container h1 {
  font-size: 2.5rem;
  color: var(--color-1);
  margin: 0px 0px var(--space-3) 0;
  font-weight: 500;
  filter: drop-shadow(0 0 5px var(--opacity-color-1));
  animation: fadeUpEnter0-30 0.7s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container h2 {
  font-size: 6rem;
  color: var(--white);
  font-weight: 700;
  margin: 0;
  line-height: 1.1;
  animation: fadeUpEnter0-30 0.9s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container h3 {
  font-size: 5rem;
  color: var(--white-off);
  font-weight: 500;
  margin: 0;
  opacity: 0.9;
  line-height: 0.9;
  animation: fadeUpEnter0-30 1.1s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container p {
  font-size: 1.5rem;
  width: 75%;
  color: var(--white-light);
  font-family: "Exo 2", sans-serif;
  margin: var(--space-2) 0px 0px;
  animation: fadeUpEnter0-30 1.3s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

/* Down indicator */
.down-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 100px;
}

.about-content {
  position: relative;
  width: 100%;
  min-height: 225lvh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.down-container path {
  animation: arrowOpacity 2s infinite;
  -webkit-animation: arrowOpacity 2s infinite;
  transform-origin: center;
  transform: scale(0.8);
}

#Vec1 {
  transform-origin: center;
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  stroke: var(--opacity-color-2);
}
#Vec2 {
  transform-origin: center;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  stroke: var(--opacity-color-2);
}

#Vec3 {
  transform-origin: center;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  stroke: var(--opacity-color-2);
}

.mobile-intro {
  min-height: 50rem;
  position: relative;
  width: 90%;
  border-radius: 25px;
  padding: var(--space-4);
  margin: var(--space-5) 0;
  background-color: var(--opacity-color-4);
  border: 2px var(--color-1) solid;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mobile-intro.hidden {
  display: none;
}

.mobile-intro h4 {
  color: var(--color-2);
  font-size: 5rem;
  margin: var(--space-4) 0;
}

.mobile-intro p {
  margin: var(--space-2) 0;
  font-size: 3.5rem;
  font-family: "Exo 2", sans-serif;
  line-height: 1.3;
  color: var(--white);
}

@media (max-width: 1000px) {
  .about-content {
    min-height: 200lvh;
  }
  /* Font */

  .i-am-container {
    width: 90%;
  }

  .i-am-container h1 {
    font-size: 3.5rem;
  }

  .i-am-container h2 {
    font-size: 7rem;
  }

  .i-am-container h3 {
    font-size: 6rem;
  }

  .i-am-container p {
    font-size: 2.5rem;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .mobile-intro h4 {
    font-size: 5rem;
  }
  .mobile-intro p {
    font-size: 3.25rem;
  }
}

@media (max-width: 600px) {
  .mobile-intro p {
    font-size: 3.5rem;
  }

  .mobile-intro {
    min-height: 55rem;
  }

  .about-content {
    min-height: 150lvh;
  }
}
