.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--space-128) 0;
  padding: var(--space-32);
  gap: var(--space-72);
}
