.play-ground {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.shadow {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Container for the entire page */
.main-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  flex-direction: column;
}

.about-hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Container for the glowing text element */
.i-am-container {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: auto;
  z-index: 1;
}

/* In the nav folder the css file consider the container appearing time */

.i-am-container h1 {
  font-size: 2.25rem;
  color: var(--color-1);
  margin: var(--space-0) 0;
  font-weight: 600;
  filter: drop-shadow(0 0 5px var(--opacity-color-1-6));
  animation: fadeUpEnter0-30 0.7s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container h2 {
  font-size: 6rem;
  color: var(--font-high);
  font-weight: 700;
  margin: 0;
  margin-bottom: var(--space-2);
  line-height: 1;
  animation: fadeUpEnter0-30 0.9s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container p {
  font-size: 1.5rem;
  width: 85%;
  color: var(--font-low);
  font-weight: 500;
  font-family: var(--font-text), sans-serif;
  margin: 0;
  margin-bottom: var(--space-0);
  animation: fadeUpEnter0-30 1.3s forwards cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.i-am-container button {
  border: 1px solid var(--color-2);
  width: 12.5rem;
  border-radius: 50px;
  margin: 0;
  padding: var(--space-2);
  background-color: var(--opacity-color-4-5);
  font-size: 1.25rem;
  font-family: var(--font-display);
  color: var(--color-1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.5s filter ease-in-out, 0.5s font-size ease-in-out;
  cursor: pointer;
}

.i-am-container button:hover {
  filter: drop-shadow(0 0 15px var(--opacity-color-2-5));
}

/* For mobile stuff */
.about-content {
  position: relative;
  width: 100%;
  min-height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mobile-intro {
  height: auto;
  position: relative;
  width: 90%;
  border-radius: 25px;
  padding: var(--space-4);
  margin: var(--space-5) 0;
  background-color: var(--opacity-color-4-5);
  border: 2px var(--color-1) solid;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mobile-intro.hidden {
  display: none;
}

.mobile-intro h4 {
  color: var(--color-2);
  font-size: 2.5rem;
  margin: var(--space-4) 0;
}

.mobile-intro p {
  margin: var(--space-2) 0;
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
  line-height: 1.3;
  color: var(--font-middle);
}

@media (max-width: 1250px) {
  .i-am-container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .about-content {
    height: auto;
  }
}
/* Font decrease by 10 percent */
@media (max-width: 800px) {
  .i-am-container h1 {
    font-size: 1.8rem;
  }

  .i-am-container h2 {
    font-size: 4.8rem;
  }

  .i-am-container p {
    font-size: 1.2rem;
    width: 100%;
  }

  .i-am-container button {
    font-size: 1rem;
  }

  .mobile-intro h4 {
    font-size: 2rem;
  }

  .mobile-intro p {
    font-size: 1rem;
  }
}
/* 30% decrease */
@media (max-width: 450px) {
  .i-am-container h1 {
    font-size: 1.575rem;
  }

  .i-am-container h2 {
    font-size: 4.2rem;
  }

  .i-am-container p {
    font-size: 1.05rem;
  }

  .i-am-container button {
    font-size: 0.875rem;
  }

  .mobile-intro h4 {
    font-size: 1.75rem;
  }

  .mobile-intro p {
    font-size: 0.875rem;
  }
}
