.play-ground {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.shadow {
  position: absolute;
  cursor: default;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Container for the entire page */
.main-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  flex-direction: column;
}

.about-hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Container for the glowing text element */
.i-am-container {
  display: flex;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: auto;
  z-index: 1;
}

/* In the nav folder the css file consider the container appearing time */

.i-am-container h1 {
  font-size: 2.25rem;
  color: var(--color-2);
  font-weight: 600;
  margin: 0;
}

.i-am-container h2 {
  font-size: 6rem;
  color: var(--color-1);
  font-weight: 700;
  line-height: 1;
  position: relative;
  left: -5px; /* Shifts left by 50px */
  margin: 0;
  margin-top: var(--space-1);
  margin-bottom: var(--space-2);
}

.i-am-container p {
  font-size: 1.5rem;
  width: 85%;
  color: var(--font-middle);
  font-family: var(--font-body), sans-serif;
  margin: 0;
}

.i-am-container button {
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0;
  margin-left: auto;
  padding: var(--space-2);
  background-color: var(--color-2);
  font-family: var(--font-display);
  color: var(--color-2);

  cursor: pointer;
}

.i-am-container button svg {
  width: 70%;
  height: 70%;
  stroke: var(--color-1);
  margin: auto;
}

/* For mobile stuff */
.about-content {
  position: relative;
  width: 100%;
  height: 225vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.mobile-intro {
  height: auto;
  position: relative;
  width: 90%;
  border-radius: 25px;
  padding: var(--space-4);
  margin: var(--space-5) 0;
  background-color: var(--opacity-color-4-5);
  border: 2px var(--color-1) solid;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.mobile-intro.hidden {
  display: none;
}

.mobile-intro h4 {
  color: var(--color-2);
  font-size: 2.5rem;
  margin: var(--space-4) 0;
}

.mobile-intro p {
  margin: var(--space-2) 0;
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
  line-height: 1.3;
  color: var(--font-middle);
}

@media (max-width: 1250px) {
  .i-am-container {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .about-content {
    height: auto;
  }
}

@media (max-width: 800px) {
  /* Decrease of 20% */
  .i-am-container h1 {
    font-size: 1.8rem;
  }

  .i-am-container h2 {
    font-size: 4.8rem;
  }

  .i-am-container p {
    font-size: 1.2rem;
  }

  .i-am-container button {
    font-size: 1rem;
  }

  .mobile-intro h4 {
    font-size: 2rem;
  }

  .mobile-intro p {
    font-size: 1rem;
  }

  .i-am-container button {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-height: 800px) {
  /* 30% decrease for ultra small phones */
  .i-am-container h1 {
    font-size: 1.575rem;
  }

  .i-am-container h2 {
    font-size: 4.2rem;
  }

  .i-am-container p {
    font-size: 1.05rem;
  }

  .i-am-container button {
    font-size: 0.875rem;
  }

  .mobile-intro h4 {
    font-size: 1.75rem;
  }

  .mobile-intro p {
    font-size: 0.875rem;
  }
}
